.systemname {
	font-family:"Impact", Charcoal, sans-serif;
	margin-left:2cm;
	font-size:50px;
}

#marinex110 {
	background-color:#52ceff;
	padding-left: 30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	margin-top:2cm;
}

#body {
	margin-top:2cm;
}