#marinex110 {
	background-color:#03d3fc;
}

.systemname {
	font-family: "Impact, Charcoal", sans-serif;"
	font-size:30px;
	padding-top:25px;
	padding-right: 25px;
	padding-left:25px;
	padding-bottom:25px;
}

#systems {
	
}

body {
	background-color:;
}