.systemname {
	font-family:"Impact", Charcoal, sans-serif;
	margin-left:2cm;
	font-size:50px;
	background-color:#52ceff;
	padding-left: 30px;
	padding-right:30px;
	padding-bottom:30px;
	padding-top:30px;
	border-bottom:solid black;
}

.systemname:hover {
	background-color:yellow;
}

.pagelinks {
	text-decoration:none;
	color:black;
}

.pagelinks:clicked {
	text-decoration:none;
	color:black;
}




